

.header {
	padding: 10px;
	text-align: center;
	background: #ff6767;
	color: white;
	font-size: 30px;
	font-family: Arial;
}

.searchbox {
	padding: 10px;
	text-align: center;
	font-size: 30px;
	font-family: Arial;
}

.search {
	padding: 10px;
	flex: 1;
    width: 100%;
}

.glreslabel {
	border: 1px solid black;
	background: #FF0000;
	margin: 10 0 0 0px;
}

.glreslabel:hover {
	background: #F50000;
	cursor: pointer;
}